.text-14-400 {
    font-size: 14px;
    font-weight: 400;
}
.text-14-800 {
    font-size: 14px;
    font-weight: 800;
}
.text-20-300 {
    font-size: 20px;
    font-weight: 300;
}
.text-20-400 {
    font-size: 20px;
    font-weight: 400;
}
.text-20-800 {
    font-size: 20px;
    font-weight: 800;
}
.text-25-300 {
     font-size: 25px;
     font-weight: 300;
 }
.text-30-200 {
    font-size: 30px;
    font-weight: 200;
}
.text-40-400 {
    font-size: 40px;
    font-weight: 400;
}
.text-50-700 {
    font-size: 50px;
    font-weight: 700;
}
.text-80-700 {
    font-size: 80px;
    font-weight: 700;
}
.text-120-700 {
    font-size: 120px;
    font-weight: 700;
}